<h3  style="text-align: center;margin-top:20px">
    NO SE HA PODIDO PROCESAR EL PAGO 
</h3>
<div style="text-align: center;">
   <a style="text-align: center; margin-top:20px" href="/">BACK</a> 
</div>
