<h3 style="text-align: center;margin-top:20px">
    NOTIFICACIONES DE PAGO
</h3>
<div style="text-align: center;">

     <spam>payment metodo {{payment_method_id}}</spam>

      <spam>external reference {{external_reference}}</spam>

       <spam>collection id {{collection_id}}</spam>

   <a style="text-align: center; margin-top:20px" href="/">BACK</a> 
</div>
