<h3 style="text-align: center;margin-top:20px">
    EL PAGO SE PROCESO EN FORMA CORRECTA, GRACIAS POR CONFIAR EN NOSOTROS
</h3>
<div style="text-align: center;">
   <a style="text-align: center; margin-top:20px" href="/">BACK</a> 
</div>
